<nav class="navbar navbar-expand-lg navbar-light" style= "background-color: #37c7b6;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://freesvg.org/img/building-cartoon-bookstore.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bookstore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Client
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Shopping Cart", cart_path, class: "dropdown-item" %>
            <%= link_to "Buy", buy_path, class: "dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Seller
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Add book", add_book_path, class: "dropdown-item" %>
            <%= link_to "Check your profits", seller_profits_path, class: "dropdown-item" %>
            <%= link_to "Books sold", books_sold_path, class: "dropdown-item" %>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Book Title" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.client %>
          <li class="nav-item">
            <span class="navbar-text"><%= Current.client.name %></span>
          </li>
          <li class="nav-item">
            <span class="navbar-text"><%= Current.client.funds %></span>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", client_logout_path, method: :delete, class: "btn btn-outline-secondary" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Client Sign Up", sign_up_client_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Client Login", sign_in_client_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.seller %>
          <li class="nav-item">
            <span class="navbar-text"><%= Current.seller.name %></span>
          </li>
          <li class="nav-item">
            <span class="navbar-text"><%= Current.seller.earnings %></span>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", seller_logout_path, method: :delete, class: "btn btn-outline-secondary" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Seller Sign Up", sign_up_seller_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Seller Login", sign_in_seller_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
