<h1>Seller Sign In</h1>

<%= form_with url: sign_in_seller_path do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class="form-control", placeholder: "correo@mail.com" %>
  </div>

  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class="form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Sign In", class="btn btn-outline-success" %>
  </div>
<% end %>
